.app__row ::after {
  content: "";
  clear: both;
  display: table;
}

.app__col {
  width: 100%;
  height: 100%;
  padding: 1rem 10rem 10rem 10rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
}

.app__cards {
  gap: 1rem;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.app__cards::after {
  content: "";
  clear: both;
}

.app__card-img {
  width: 100%;
  height: 100%;
  max-height: 40vh;
  max-width: 90vw;
  min-height: 20vh;
  min-width: 70vw;
  border-radius: 0.28rem;
  object-fit: cover;
  box-shadow: 0.1rem 0.2rem 0.3rem 0.1rem gray;
}

.app__card {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--color-primary);
  border-radius: 0.28rem;
  width: 100%;
  height: 100%;
  padding: 4rem 1rem 1rem 1rem;
  max-height: 90vh;
  max-width: 80vw;
  min-height: 40vh;
  min-width: 80vw;
}

.app__card-header {
  text-align: center;
  font-size: 1rem;
}

.app__card-btnwrap {
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app__btn {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  border: 0.1rem 0.1rem 0.1rem 0.1rem var(--color-primary);
  border-radius: 0.9rem;
  color: var(--color-primary);
  transition: 0.3s all ease-in-out;
}

.app__btn:hover {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  border: 0.1rem 0.1rem 0.1rem 0.1rem var(--color-primary);
  border-radius: 0.9rem;
  background: var(--color-primary);
  background-color: var(--color-primary);
  background-image: var(--color-primary);
  color: white;
}

.app__card-footer {
  justify-content: center;
  text-align: center;
  width: 100%;
}
