.app__row ::after {
  content: "";
  clear: both;
  display: table;
}

.app__col {
  width: 100%;
  height: 100%;
  padding: 0.9rem;
  justify-content: center;
  display: grid;
  
}

.app__cards {
  width: 100%;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0.9rem;
  justify-content: center;

}

.app__cards::after {
  content: "";
  clear: both;

}

.app__card-img {
  width: 100%;
  height: 100%;
  max-height: 25vh;
  max-width: 25vw;
  border-radius: 0.28rem;
  object-fit: cover;
  box-shadow: 0.1rem 0.2rem 0.3rem 0.1rem gray;
}

.app__card {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--color-primary);
  border-radius: 0.28rem;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
  max-height: 40vh;
  max-width: 40vw;
 
}

.app__card-header {
  text-align: center;
  font-size: 1.0rem;
}

.app__card-btnwrap {
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app__btn {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  border: 0.1rem 0.1rem 0.1rem 0.1rem var(--color-primary);
  border-radius: 0.9rem;
  color: var(--color-primary);
  transition: 0.3s all ease-in-out;
}

.app__btn:hover {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  border: 0.1rem 0.1rem 0.1rem 0.1rem var(--color-primary);
  border-radius: 0.9rem;
  background: var(--color-primary);
  background-color: var(--color-primary);
  background-image: var(--color-primary);
  color: white;
}

.app__card-footer{
  justify-content: center;
  text-align: center;
  width: 100%;
}