.app__footer{
  margin-top: auto;
  width: 100%;
  background-color: var(--color-blackpearl);
  //trbl
  padding: 1rem 4rem 1rem 1rem;
  box-shadow: 0.7rem 0.4rem 5rem 0.1rem var(--color-primary);
  width: 100%;
  max-width: 100%;
  border-radius: 0.4rem;
  word-spacing: 1rem;
  border-radius: 0.7rem;
  overflow: hidden;

}

.app__footer-small{
    font-size: 1.5rem;
}