.app__section-form {
  width: 100%;
  max-width: 50vw;
  margin-left: 25vw;
}

.app__inputs-label {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-primary);
}

.app__input {
  background-color: var(--color-primary);
  color: var(--color-primary);
  font-size: 1rem;
  width: 100%;
  text-align: center;
  transition: 0.7s ease-in-out;
  padding: 0.7rem;
  border-radius: 0.8rem;
  &:hover {
    color: var(--color-primary-dark);
    background-color: var(--color-primary);
  }
}
